<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
    <link rel="stylesheet" type="text/css">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/categories.css}">
</head>
<body>
<header>
    <nav>
        <h1>관리자 페이지(공사중)</h1>
        <ul>
            <li><a href="/admin/categories">카테고리</a></li>
            <li><a href="/admin/votes">투표</a></li>
            <li><a href="/admin/information">정보</a></li>
        </ul>
    </nav>
</header>

<div class="container">
    <h1>Categories</h1>
    <!-- 카테고리 추가 폼 -->
    <div class="btn-group">
        <form>
            <input type="text" id="name" name="name" required placeholder="추가할 카테고리 이름 입력">
            <button type="button" onclick="addCategory()">추가</button>
        </form>
    </div>

    <!-- 카테고리 테이블 -->
    <table>
        <thead>
        <tr>
            <th>카테고리 이름</th>
            <th>유저 타입</th>
            <th>편집</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category : ${categories}">
            <td th:text="${category.name}">Category Name</td>
            <td>
                <span th:each="type, iterStat : ${category.userTypes}">
                    <span th:text="${type}"></span>
                    <span th:if="${!iterStat.last}">, </span>
                </span>
            </td>
            <td>
                <button type="button" th:attr="data-id=${category.categoryId}, data-name=${category.name}, data-user-types=${category.userTypes}" onclick="openEditModal(this)">편집</button>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- 편집 모달 -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <form id="editForm">
                <input type="hidden" id="editId" name="id">

                <label for="editName">카테고리 이름:</label>
                <input type="text" id="editName" name="name" required>

                <br>
                <label>유저 타입 선택:</label>
                <input type="checkbox" id="학생" name="userTypes" value="STUDENT">
                <label for="학생">학생</label>

                <input type="checkbox" id="취업준비생" name="userTypes" value="JOB_SEEKER">
                <label for="취업준비생">취업준비생</label>

                <input type="checkbox" id="1~3년차 직장인" name="userTypes" value="NEW_EMPLOYEE">
                <label for="1~3년차 직장인">1~3년차 직장인</label>

                <input type="checkbox" id="기타" name="userTypes" value="OTHER">
                <label for="기타">기타</label>
                <br>
                <button type="button" onclick="saveChanges()">저장</button>
            </form>
        </div>
    </div>
</div>

<script th:src="@{/js/categories.js}"></script>
</body>
</html>
