<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
    <link rel="stylesheet" type="text/css">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/categories.css}">
</head>
<body>
<header>
    <nav>
        <h1>관리자 페이지(공사중)</h1>
        <ul>
            <li><a href="/admin/categories">카테고리</a></li>
            <li><a href="/admin/votes">투표</a></li>
            <li><a href="/admin/information">정보</a></li>
        </ul>
    </nav>
</header>

<div class="container">
    <h1>Categories</h1>
    <!-- 카테고리 추가 폼 -->
    <div class="btn-group">
        <form>
            <input type="text" id="name" name="name" required placeholder="추가할 카테고리 이름 입력">
            <button type="button" onclick="addCategory()">추가</button>
        </form>
    </div>

    <div class="category-container">
        <div class="category" th:each="category : ${categories}">
            <h3 th:text="${category.name}">Category Name</h3>
        </div>
    </div>
</div>
<script th:src="@{/js/categories.js}"></script>
</body>
</html>
