<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>정보 제공 목록</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/information.css}">
</head>
<body>
<header>
    <nav>
        <h1>관리자 페이지(공사중)</h1>
        <ul>
            <li><a href="/admin/categories">카테고리</a></li>
            <li><a href="/admin/votes">투표</a></li>
            <li><a href="/admin/information">정보</a></li>
        </ul>
    </nav>
</header>

<div class="container">
    <h1>Information Cards</h1>

    <div class="btn-group">
        <button class="add-btn" onclick="openAddModal()">추가</button>
    </div>

    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeAddModal()">&times;</span>
            <form id="informationForm">
                <label for="title">Title:</label><br>
                <input type="text" id="title" name="title" placeholder="콘텐츠 제목 입력"><br>

                <label for="content">Content:</label><br>
                <textarea type="text" id="content" name="content" placeholder="콘텐츠 내용 입력"></textarea><br>

                <label>Categories:</label><br>
                <div id="categoryCheckboxes">
                    <!-- 카테고리 체크박스 목록이 여기에 추가됩니다 -->
                </div><br>

                <label for="referenceName">Reference Name:</label><br>
                <input type="text" id="referenceName" name="referenceName" placeholder="콘텐츠 출처를 간략히 입력(사용자에게 노출될 출처 이름입니다.)"><br>

                <label for="referenceUrl">Reference Url:</label><br>
                <textarea type="text" id="referenceUrl" name="referenceUrl" placeholder="위에 적은 출처의 url을 입력"></textarea><br>

                <button type="submit">제출</button>
            </form>
        </div>
    </div>

    <!-- 상세 정보 모달 -->
    <div id="detailModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeDetailModal()">&times;</span>
            <div id="detailContent">
                <!-- 상세 정보 내용이 여기에 추가됩니다 -->
            </div>
        </div>
    </div>

    <div id="editModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeEditModal()">&times;</span>
            <form id="editInformationForm">
                <input type="hidden" id="editInformationId" name="informationId">
                <label for="editTitle">Title:</label><br>
                <input type="text" id="editTitle" name="title" placeholder="콘텐츠 제목 입력"><br>

                <label for="editContent">Content:</label><br>
                <textarea type="text" id="editContent" name="content" placeholder="콘텐츠 내용 입력"></textarea><br>

                <label>Categories:</label><br>
                <div id="editCategoryCheckboxes">
                    <!-- 카테고리 체크박스 목록이 여기에 추가됩니다 -->
                </div><br>

                <label for="editReferenceName">Reference Name:</label><br>
                <input type="text" id="editReferenceName" name="referenceName" placeholder="콘텐츠 출처를 간략히 입력"><br>

                <label for="editReferenceUrl">Reference Url:</label><br>
                <textarea type="text" id="editReferenceUrl" name="referenceUrl" placeholder="위에 적은 출처의 url을 입력"></textarea><br>

                <button type="submit">수정</button>
            </form>
        </div>
    </div>

    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>콘텐츠 제목</th>
            <th>출처</th>
            <th>수정</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="information : ${information}">
            <td th:text="${information.informationId}">Information Id</td>
            <td th:text="${information.title}" class="clickable" th:attr="data-id=${information.informationId}" onclick="openDetailModal(this)">Title</td>
            <td th:text="${information.referenceName}">Reference Name</td>
            <td><button class="edit-btn" onclick="openEditModal(this)" th:attr="data-id=${information.informationId}">수정</button></td>
        </tr>
        </tbody>
    </table>
</div>
<script th:src="@{/js/information.js}"></script>
</body>
</html>
