<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>투표 토픽 목록</title>
    <link rel="stylesheet" type="text/css">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/votes.css}">
</head>
<body>
<header>
    <nav>
        <h1>관리자 페이지(공사중)</h1>
        <ul>
            <li><a href="/admin/categories">카테고리</a></li>
            <li><a href="/admin/votes">투표</a></li>
            <li><a href="/admin/information">정보</a></li>
        </ul>
    </nav>
</header>

<div class="container">
    <h1>Vote Topics</h1>

    <div class="btn-group">
        <button class="add-btn" onclick="openAddModal()">추가</button>
    </div>

    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeAddModal()">&times;</span>
            <form id="voteForm">
                <label for="title">Title:</label><br>
                <input type="text" id="title" name="title" placeholder="투표 토픽 입력"><br>

                <label for="isMultipleChoiceAllowed">복수 선택 허용:</label>
                <input type="checkbox" id="isMultipleChoiceAllowed" name="isMultipleChoiceAllowed"><br>

                <!-- 투표 옵션 추가 코드-->
                <label>Options:</label><br>
                <div id="optionsContainer">
                    <input type="text" name="voteOptions" placeholder="투표 선택지는 최대 4개~"><br>
                    <input type="text" name="voteOptions" placeholder="투표 선택지는 최대 4개~"><br>
                    <input type="text" name="voteOptions" placeholder="투표 선택지는 최대 4개~"><br>
                    <input type="text" name="voteOptions" placeholder="투표 선택지는 최대 4개~"><br>
                </div><br>

                <label>Categories:</label><br>
                <div id="categoryCheckboxes">
                    <!-- 카테고리 체크박스 목록이 여기에 추가됩니다 -->
                </div><br>

                <label for="title">Writer:</label><br>
                <input type="text" id="writer" name="writer" placeholder="작성자 이름 입력"><br>

                <button type="submit">제출</button>
            </form>
        </div>
    </div>

    <!-- 상세 정보 모달 -->
    <div id="detailModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeDetailModal()">&times;</span>
            <div id="detailContent">
                <!-- 상세 정보 내용이 여기에 추가됩니다 -->
            </div>
        </div>
    </div>

    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>투표 토픽</th>
            <th>작성자(유저 pk)</th>
            <th>작성자(관리자 이름)</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vote : ${votes}">
            <td th:text="${vote.voteId}">Vote ID</td>
            <td th:text="${vote.title}" class="clickable" th:attr="data-id=${vote.voteId}" onclick="openDetailModal(this)">Title</td>
            <td th:text="${vote.userId}">User ID</td>
            <td th:text="${vote.adminName}">Admin Name</td>
        </tr>
        </tbody>
    </table>

</div>
<script th:src="@{/js/votes.js}"></script>
</body>
</html>
