<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>투표 토픽 목록</title>
    <link rel="stylesheet" type="text/css">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/votes.css}">
</head>
<body>
<header>
    <nav>
        <h1>관리자 페이지(공사중)</h1>
        <ul>
            <li><a href="/admin/categories">카테고리</a></li>
            <li><a href="/admin/votes">투표</a></li>
            <li><a href="/admin/information">정보</a></li>
        </ul>
    </nav>
</header>

<div class="container">
    <h1>Vote Topics</h1>

    <!-- Category Filter -->
    <div class="category-filter">
        <label for="categorySelect">카테고리 필터 적용하기:</label>
        <select id="categorySelect" onchange="filterVotesByCategory()">
            <option value="all">전체</option>
            <option th:each="category : ${categories}" th:value="${category.categoryId}" th:text="${category.name}">Category Name</option>
        </select>
    </div>

    <div class="btn-group">
        <button class="add-btn" onclick="openAddModal()">추가</button>
    </div>

    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeAddModal()">&times;</span>
            <form id="voteForm">
                <label for="title">Title:</label><br>
                <input type="text" id="title" name="title" placeholder="투표 토픽 입력"><br>

                <label for="isMultipleChoiceAllowed">복수 선택 허용:</label>
                <input type="checkbox" id="isMultipleChoiceAllowed" name="isMultipleChoiceAllowed"><br>

                <!-- 투표 옵션 추가 코드-->
                <label>Options:</label><br>
                <div id="optionsContainer">
                    <input type="text" name="voteOptions" placeholder="투표 선택지는 최대 4개~"><br>
                    <input type="text" name="voteOptions" placeholder="투표 선택지는 최대 4개~"><br>
                    <input type="text" name="voteOptions" placeholder="투표 선택지는 최대 4개~"><br>
                    <input type="text" name="voteOptions" placeholder="투표 선택지는 최대 4개~"><br>
                </div><br>

                <label>Categories:</label><br>
                <div id="categoryCheckboxes">
                    <!-- 카테고리 체크박스 목록이 여기에 추가됩니다 -->
                </div><br>

                <label for="title">Writer:</label><br>
                <input type="text" id="writer" name="writer" placeholder="작성자 이름 입력"><br>

                <button type="submit">제출</button>
            </form>
        </div>
    </div>

    <!-- 상세 정보 모달 -->
    <div id="detailModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeDetailModal()">&times;</span>
            <div id="detailContent">
                <!-- 상세 정보 내용이 여기에 추가됩니다 -->
            </div>
        </div>
    </div>

    <div id="editModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeEditModal()">&times;</span>
            <form id="editVoteForm">
                <div id="editWarningMessage" style="color: red; display: none;">
                    투표에 참여한 사람이 존재하기 때문에 투표 내용을 수정할 수 없습니다.
                </div>

                <input type="hidden" id="editVoteId" name="voteId">

                <label for="editTitle">Title:</label><br>
                <input type="text" id="editTitle" name="title" placeholder="투표 토픽 입력"><br>

                <label for="editIsMultipleChoiceAllowed">복수 선택 허용:</label>
                <input type="checkbox" id="editIsMultipleChoiceAllowed" name="isMultipleChoiceAllowed"><br>

                <label>Options:</label><br>
                <div id="editOptionsContainer">
                    <!-- 옵션이 여기에 추가됩니다 -->
                </div><br>

                <label>Categories:</label><br>
                <div id="editCategoryCheckboxes">
                    <!-- 카테고리 체크박스 목록이 여기에 추가됩니다 -->
                </div><br>

                <label for="editWriter">Writer:</label><br>
                <input type="text" id="editWriter" name="writer" placeholder="작성자 이름 입력"><br>

                <button type="submit">수정</button>
            </form>
        </div>
    </div>

    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>투표 토픽</th>
            <th>작성자(유저 pk)</th>
            <th>작성자(관리자 이름)</th>
            <th>수정</th> <!-- 추가된 부분 -->
        </tr>
        </thead>
        <tbody id="votesTableBody">
        <tr th:each="vote : ${votes}"  th:attr="data-category-ids=${vote.categoryIds}">
            <td th:text="${vote.voteId}">Vote ID</td>
            <td th:text="${vote.title}" class="clickable" th:attr="data-id=${vote.voteId}" onclick="openDetailModal(this)">Title</td>
            <td th:text="${vote.userId}">User ID</td>
            <td th:text="${vote.adminName}">Admin Name</td>
            <td><button class="edit-btn" onclick="openEditModal(this)" th:attr="data-id=${vote.voteId}">수정</button></td>
        </tr>
        </tbody>
    </table>

</div>
<script th:src="@{/js/votes.js}"></script>
</body>
</html>
