<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>투표 토픽 목록</title>
    <link rel="stylesheet" type="text/css">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/votes.css}">
</head>
<body>
<header>
    <nav>
        <h1>관리자 페이지(공사중)</h1>
        <ul>
            <li><a href="/admin/categories">카테고리</a></li>
            <li><a href="/admin/votes">투표</a></li>
            <li><a href="/admin/information">정보</a></li>
        </ul>
    </nav>
</header>

<div class="container">
    <h1>Vote Cards</h1>

    <div class="btn-group">
        <button class="add-btn" onclick="openAddModal()">추가</button>
    </div>

    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeAddModal()">&times;</span>
            <form id="voteForm">
                <label for="title">Title:</label><br>
                <input type="text" id="title" name="title" placeholder="투표 토픽 입력"><br>

                <!-- 투표 옵션 추가 코드-->
                <label>Options:</label><br>
                <div id="optionsContainer">
                    <input type="text" name="voteOptions" placeholder="투표 선택지는 최대 4개~"><br>
                    <input type="text" name="voteOptions" placeholder="투표 선택지는 최대 4개~"><br>
                    <input type="text" name="voteOptions" placeholder="투표 선택지는 최대 4개~"><br>
                    <input type="text" name="voteOptions" placeholder="투표 선택지는 최대 4개~"><br>
                </div><br>

                <label>Categories:</label><br>
                <div id="categoryCheckboxes">
                    <!-- 카테고리 체크박스 목록이 여기에 추가됩니다 -->
                </div><br>

                <button type="submit">제출</button>
            </form>
        </div>
    </div>

    <div class="card-container">
        <div class="card" th:each="vote : ${votes}">
            <h2 th:text="${vote.title}">Title</h2>
            <p><strong>Categories:</strong></p>
            <ul>
                <li th:each="category : ${vote.categories}" th:text="${category.name}">Category Name</li>
            </ul>
            <p><strong>Options:</strong></p>
            <ul>
                <li th:each="option : ${vote.voteOptions}" th:text="${option.content}">Option Content</li>
            </ul>
        </div>
    </div>
</div>
<script th:src="@{/js/votes.js}"></script>
</body>
</html>
