.container {
    width: 70%;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

/* Button styles */
.btn-group {
    text-align: right;
    margin-bottom: 10px;
}

button {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

/* Form styles */
input[type="text"] {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 200px; /* 너비 조정 */
    font-size: 16px;
    box-sizing: border-box;
}

/* Category styles */
.category-container {
    text-align: center;
}
